<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Sourcerer1Lite</string>
	<key>CFBundleExecutable</key>
	<string>Sourcerer1Lite</string>
	<key>CFBundleIconFile</key>
	<string>sourcerer01lite_icon057.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>sourcerer01lite_icon057.png</string>
		<string>sourcerer01lite_icon072.png</string>
		<string>sourcerer01lite_icon114.png</string>
		<string>sourcerer01lite_icon144.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>sourcerer01lite_icon057.png</string>
				<string>sourcerer01lite_icon072.png</string>
				<string>sourcerer01lite_icon114.png</string>
				<string>sourcerer01lite_icon144.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>jp.co.altoterras.sourcerer01lite</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Sourcerer1Lite</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.2.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>jp.co.altoterras.sourcerer01lite</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sourcerer01lite</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.2.3</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarHidden~ipad</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
